@model HondaWeb.Models.PostsViewModel
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Sửa bài viết";
}
@section Scripts{
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('Content');
    </script>
}
    <h2>Thêm bài viết</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <hr />
            @Html.HiddenFor(model => model.PostId)

            <div class="form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PostTypeName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.PostTypeId, (IEnumerable<SelectListItem>)ViewBag.PostTypeList, "", htmlAttributes: new { @class = "control-label col-md-2", style = "width: 25%; heigh: 50px" })
                    @*@Html.DropDownList("PostTypeId", (IEnumerable<SelectListItem>)ViewBag.    , new { @class = "form-control" })*@
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <textarea asp-for="Content" class="Content" id="Content" name="Content"></textarea>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.IsHotNews, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.CheckBoxFor(model => model.IsHotNews, new { htmlAttributes = new { @class = "form-control", @id = "content_ckeditor" } })
                    Tin nổi bật
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Lưu" class="btn btn-warning" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Trở về trang chủ", "Index")
    </div>
